/* #757575 Основний колір тексту 
 #212121 колір заголовків і кнопок
 #2196f3 колір акценту 
 #ffffff основний колір фону 
 #f5f4fa вторинний колір фону 
 #2F303A третинний колір фону (шапка і футер)
 #2196f3 первинний колір бренду
 #000000 вторинний колір бренду (шапка)
 #FFFFFF третинний колір бренду (футер)
Roboto 400/500/700/900 основний шрифт 
Raleway 700 додатковий шрифт 

Основні скорочення у назвах змінних
pri -> primary
sec -> secondary
ter -> tertiary
tc -> text color
bgc -> background color
tlc -> title color
ac -> accent color
brc -> brand color 
btn -> button 
ft  -> footer
cc -> contacts color
lc -> link color
*/

:root {
  --pri-brc: #2196f3; /* Первинний колір бренду (лого) */
  --sec-brc: #000000; /* вторинний колір бренду (лого шапка) */
  --ter-brc: #ffffff; /* Третинний колір бренду (лого футер) */
  --hero-tc: #ffffff; /* Колір тексту героя */
  --pri-tc: #757575; /* Первинний колір тексту */
  --pri-tlc: #212121; /* Первинний колір заголовків */
  --pri-bgc: #ffffff; /* Первинний колір фону*/
  --sec-bgc: #f5f4fa; /* Вторинний колір фону */
  --ter-bgc: #2f303a; /* третинний колір фону (шапка і футер) */
  --ac: #2196f3; /* колір акценту */
  --btn-tc: #212121; /* Колір тексту кнопок */
  --btn-bgc: #f5f4fa; /* колір фону кнопок */
  --ft-cc: rgba(255, 255, 255, 0.6); /*колір контактів в підвалі */
  --pri-lc: #212121; /*Первинний колір посилань*/
  --ft-tc: #ffffff; /* Колір тексту адреси у футері*/
}

body {
  background-color: var(--pri-bgc);
  color: var(--pri-tc);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}

.main-content .title {
  color: var(--pri-tlc);
}

.features {
  width: 270px;
  height: 101px;
}

.features .title {
   text-transform: uppercase;
}

 a {
   text-decoration: none;
   color: inherit;
  }
   
.upper-line {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.brand {
  font-weight: bold;
  font-size: 26px;
}
.brand-color-one {
  color: var(--pri-brc);
}
.upper-line .brand-color-two {
  color: var(--sec-brc);
}

.cap .title{
  width: 750px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-tc);
}
.cap .btn {
  width: 200px;
  height: 50px;
  background-color: var(--ac);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-tc);
}

.btn:hover, .btn:focus {
  border-color: black;
  cursor: pointer;
}
.nav-links .link {
  color: var(--pri-lc);
}
.contacts .link {
  color: var(--pri-tc);
}
.link.active {
  color: var(--ac);
}
li {
  list-style: none;
}

li.link.test {
  list-style: disk;
}

/*стилі футера*/
.footer .brand-color-two {
  color: var(--ter-brc);
}
.cap,
footer {
  background-color: var(--ter-bgc);
}
.footer-address {
  color: var(--ft-tc);
  font-style: normal;
}
.footer .link {
  color: var(--ft-cc);
  font-style: normal;
}
/*Загальні стилі*/
.contacts,
.nav-links,
.main-content li,
.upper-line li {
  display: inline-block;
}

.link:focus,
.link:hover {
  color: var(--ac);
}

.contacts link {
  
}